<!DOCTYPE html>
<html lang="en">
<head>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/webrpn-app.js"></script>
</head>

<body ng-app="webRpnApp">

<div ng-view class="container-fluid">
    <div ng-controller="WebRpnCtrl" class="view-frame">
        
        <div class="page-header">
            <h1>WebRPN</h1>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <em>Enter RPN expression or 'help' for usage</em>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter expression..." ng-model="expression" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="calculate(expression)">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <div id="result" class="row">
            <div class="col-lg-4">
                <dl class="dl-horizontal {{getClass(result)}}" ng-click="reenter(result)">
                    <dt>Expression:</dt>
                    <dd>{{result.expression}}</dd>
                    <dt>Result:</dt>
                    <dd>{{result.result}}</dd>
                </dl>
            </div>
        </div>

        <div id="history" class="row">
            <div class="col-lg-4">
                <h3>History:</h3>
                <dl class="dl-horizontal {{getClass(element)}}" data-ng-repeat="element in history" ng-click="reenter(element)">
                    <dt>Expression:</dt>
                    <dd>{{element.expression}}</dd>
                    <dt>Result:</dt>
                    <dd>{{element.result}}</dd>
                </dl>
            </div>
        </div>
        
    </div>
</div>

</body>
</html>